.select-container {
    position: absolute;
    background-color: rgb(28, 40, 36);
    color: rgb(241, 239, 194);
    margin: 0px;
    padding: 15px;
    top:100px;
    left: 100px;
    
}

.image-unit-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 5px;
}

.image-unit-select img {
    width: 90px;
}

.image-unit-select:hover {
    background-color: rgb(247, 215, 183);
}

.image-unit-select:target {
    background-color: rgb(190, 183, 24);
}

.selection {
    border: 5px solid red;
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 3;
    left:-100px;
    border-radius: 100%;
}